<!-- EJS file -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MCMPDB</title>
		<link rel="stylesheet" href="style.css">
        <script src="./scripts/index.js" defer></script>
    </head>
    <body>
        <nav>
            <span><a href="#" id="home">home</a></span>
            <!-- <span><a href="pages/signup.html" id="indexSignin">sign-in</a></span>  -->

            <!-- <span><a href="pages/login.html" id="indexUserInfo">User name here</a></span> -->
            <!-- <select name="indexUserInfo" id="indexUserInfo">
                <option value="userName" id="userName">User</option>
                <option value="Logout"><a id="logout">Logout</a></option>
                <option value="Add Modpack"><a href="pages/addmodpack.html">Add modpack</a></option>
            </select> -->

            <!-- TODO: Change logout to sign up if no username detected -->
            <div class="dropdown">
                <span class="dropbtn">USER</span>
                <div class="dropdown-content">
                  <a href="#" id="logoutEJS">Logout</a>
                  <a href="/" id="loginEJS" class="hidden">login</a>
                  <a href="#">Add Modpack</a>
                  <a href="pages/addmodpack.html">Manage Account</a>
                </div>
            </div>
        </nav>
        <div id="hero">
            <h1>Minecraft Modpack Database</h1>
            <ul id="modPackNames">
                <% for(var i = 0; i < info.database.length; i++) {%>
                    <li class="modPack">
                        <span><%= info.database[i].name %> :</span>

                        <!-- <% for(var j = 0; j < info.database[i].mods.length; j++) {%>
                            <li class="modList">
                                <span><%= info.database[i].mods[j].modName %></span>
                            </li>
                        <% } %> -->

                    </li>
                <% } %>
            </ul>
        </div>
    </body>
</html>