<!-- EJS file -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MCMPDB</title>
		<link rel="stylesheet" href="style.css">
        <script src="./scripts/index.js" defer></script>
    </head>
    <body>
        <nav>
            <span><a href="#" id="home">home</a></span>
            <span>MCMODPACKDB</span>
            <div class="dropdown">
                <span class="dropbtn">USER</span>
                <div class="dropdown-content">
                    <a href="pages/addmodpack.html">Add Modpack</a>
                    <a href="#">Manage Account</a>
                    <a href="#" id="logoutEJS">Logout</a>
                    <a href="pages/login.html" id="loginEJS" class="hidden">login</a>
                </div>
            </div>
        </nav>
        <div id="hero">
            <h1>Minecraft Modpack Database</h1>
            <ul id="modPackNames">
                <% for(var i = 0; i < info.database.length; i++) {%>
                    <li class="modPack">
                        <span><%= info.database[i].name %> |</span>
                        <span><%= info.database[i].mpVer %> |</span>
                        <span><%= info.database[i].mcVer %></span>
                        
                        <!-- <% for(var j = 0; j < info.database[i].mods.length; j++) {%>
                            <li class="modList">
                                <span><%= info.database[i].mods[j].modName %></span>
                            </li>
                        <% } %> -->

                    </li>
                <% } %>
            </ul>
        </div>
    </body>
</html>