/*base box model styling*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

/******************************************
/* BASE STYLES
/*******************************************/

a{
    color: white;
    text-decoration: none;
}


/*CURSOR*/
.cursor{
    cursor: pointer;
}

/******************************************
/* LOGIN / SIGN-UP
/*******************************************/

#loginBody, #signupBody{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(./assets/mcbg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#loginBox, #signUpBox{
    /* background: rgb(207 201 178); */
    height: 350px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #c6c6c6;
    box-shadow: 8px 0 0 0 #555555,
        0 8px 0 0 #555555,
        4px 4px 0 0 #555555,
        -8px 0 0 0 #e8e8e8,
        0 -8px 0 0 #e8e8e8,
        -4px -4px 0 0 #e8e8e8,
        0 0 0 4px #b5b4b5,
        4px 8px 0 0 #555,
        8px 4px 0 0 #555,
        -4px -8px 0 0 #e8e8e8,
        -8px -4px 0 0 #e8e8e8,
        8px -4px 0 0 #000,
        4px -8px 0 0 #000,
        -8px 4px 0 0 #000,
        -4px 8px 0 0 #000,
        -8px -8px 0 0 #000,
        8px 8px 0 0 #000,
        -12px 0 0 0 #000,
        -12px -4px 0 0 #000,
        12px 0 0 0 #000,
        12px 4px 0 0 #000,
        0 -12px 0 0 #000,
        -4px -12px 0 0 #000,
        0 12px 0 0 #000,
        4px 12px 0 0 #000;
}
#loginForm, #signupForm{
    display: flex;
    flex-direction: column;
    width: 60%;
}
#loginForm input, #signupForm input{
    width: 100%;
    margin: 5px 0;
    background: white;
}
#loginForm > button, #signupForm > button{
    border: 1px solid black;
    width: 40%;
    margin-top: 5px;
    padding: 2% 0;
}

#test, #logout, #hasAccount{
    border: 2px solid black;
    margin-top: 13px;
    padding: 10px 0;
    width: 50%;
    color: white;
    transition: background .25s ease-in-out 0s;
    transition: box-shadow .1s ease-in-out 0s;
    background: #6d6d6d;
    /* maybe switch to image? */
    box-shadow: inset 4px 0 0 0 #aaaaaa,
        inset 0 4px 0 0 #aaaaaa,
        inset 2px 2px 0 0 #aaaaaa,
        inset -4px 0 0 0 #565656,
        inset 0 -4px 0 0 #565656,
        inset -2px -2px 0 0 #565656,
        inset 0 0 0 4px #585858,
        inset 0 0 0 4px #585858,
        inset 2px 4px 0 0 #555,
        inset 4px 2px 0 0 #555,
        inset -2px -4px 0 0 #585858,
        inset -4px -2px 0 0 #585858;
}
#test:hover, #logout:hover, #hasAccount:hover{
    background: #80a3dfa8;
    box-shadow: inset 4px 0 0 0 #a4b4d0,
    inset 0 4px 0 0 #a4b4d0,
    inset 2px 2px 0 0 #a4b4d0,
    inset -4px 0 0 0 #7489a5,
    inset 0 -4px 0 0 #7489a5,
    inset -2px -2px 0 0 #7489a5,
    inset 0 0 0 4px #7489a5,
    inset 0 0 0 4px #7489a5,
    inset 2px 4px 0 0 #555,
    inset 4px 2px 0 0 #555,
    inset -2px -4px 0 0 #7489a5,
    inset -4px -2px 0 0 #7489a5;
}
#hasAccount{
    padding: 10px 50px;
}
#signupForm + span{
    margin-top: 30px;
}
#redirectSignup{
    color: black;
}
#redirectSignup:hover{
    color: #80a3df;
}   
/* 
#565656
#aaaaaa
#585858
*/
#test{
    margin-top: 10px;
}

#continue{
    margin-top: 30px;
}

#continue a{
    padding: 10px 30px;
    border: 2px solid black;
    transition: background .25s ease-in-out 0s;
}
#continue a:hover{
    background: #80a3df;
}

/* #continue a{
    padding: 10px 0;
    width: 200px;
    border: 2px solid black;
    width: 200px;
    padding: 10px 0;
    margin-top: 15px;
    transition: background .25s ease-in-out 0s;
}
#continue a:hover{
    background: #80a3df;
} */

/******************************************
/* Main Page
/*******************************************/
.dropdown .hidden{
    display: none;
}

#hero{
    width: 80%;
    height: 70vh;
    margin: 0 10%;
    background: orange;
}

.dropbtn {
    color: white;
    border: 1px solid white;
    padding: 16px 0;
    width: 160px;
    text-align: center;
    font-size: 16px;
}
.dropdown {
    position: relative;
    display: flex;
    justify-content: flex-end;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    margin-top: 50px;
    text-align: end;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #80a3df}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {border: 1px solid white}

/******************************************
/* MODPACK EDITOR
/*******************************************/

nav{
    width: 94%;
    margin: 10px 0 0 3%;
    height: 75px;
    background: rgb(84, 84, 84);
    border-radius: 7px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#modPackEditor h2, #mpEditTitle{
    margin: 10px 0;
}

#addModButton{
    border: 1px solid black;
    padding: 5px;
}

input{
    border: 1px solid black;
    padding: 5px;
}

#mods{
    margin-top: 20px;
}

.addMod{
    margin-top: 5px;
}